* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: green;
  height: 100vh;
  width: 100%;
}

input,textarea {
  margin: 10px;
  height: 30px;
  width: 200px;
}
