* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
      180deg,
      rgba(12, 16, 49, 0.6),
      rgba(20, 19, 21, 0.8)
    ),
    url(./Assets/UNO-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mainContainer {
  height: 100vh;
  width: 100vw;
}
.machineDeck,
.PlayerDeck {
  width: 90%;
  height: 250px;
  /* background-color: #333; */
  margin: 10px;
}
.machineDeck > div,
.PlayerDeck > div {
  width: 10%;
  border: 1px solid white;
  height: 225px;
  background-color: black;
  display: flex;
  align-items: center;
}
.machineDeck > div > div,
.PlayerDeck > div > div,
.deckBox > div > div {
  background-image: url(././pngaaa.com-928581.png);
  background-repeat: no-repeat;
  background-size: 95% 100%;
  height: 60%;
  width: 100%;
  background-image: url(././pngaaa.com-928581.png);
  background-repeat: no-repeat;
  background-size: 95% 100%;
  height: 60%;
}
.shuffleCards {
  width: 25%;
  height: 250px;
  /* background-color: #fff; */
  margin: 10px;
}
.deckBox > div {
  height: 225px;
  width: 36%;
  background-color: black;
  border: 1px solid white;
  display: flex;
  align-items: center;
}
