* {
  margin: 0;
  padding: 0;
}
.mainContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(55, 173, 55);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.computerDeck {
  height: 170px;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.playerDeck {
  height: 230px;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.shuffleButton {
  height: 100px;
  width: 100px;
}
.shuffleButton > button {
  border-radius: 40px;
  background-color: lightseagreen;
  color: black;
  height: 100%;
  width: 100%;
  font-size: 15px;
  letter-spacing: 2px;
}
.computerDeck > div,
.playerDeck > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  width: 95px;
  height: 150px;
  float: left;
  padding: 3px 3px 3px 3px;
  margin: 5px;
}
.value {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #fff;
}
.Red {
  background-color: red;
  color: red;
  border: 2px solid black;
}
.Yellow {
  background-color: yellow;
  color: yellow;
  border: 2px solid red;
}
.Green {
  background-color: green;
  color: green;
  border: 2px solid yellow;
}
.Blue {
  background-color: blue;
  color: blue;
  border: 2px solid yellow;
}
.computerDeck > div{
  background-color: #000 !important;
  border: 2px solid #fff !important;
  
}
.computerDeck > div>div{
  display: none;
}
.shuffleBox{
  height: 30%;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.shuffleBox>div{
  height: 65%;
  width: 110px;
  background-color: yellow;
  border: 2px solid sienna;
}