* {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#saveBtn{
  display: none;
}
#editModal{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#editModal::backdrop{
  background: linear-gradient(45deg,red,blue);
  opacity: .2;
}
.themeIcon{
  background-color: black;
  color: white;
}
input {
  font-size: 20px;
}
hr{
  margin: 0 !important;
}
.edit,.del {
  margin: 10px;
  background-color: grey;
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
.webPageHeader{
  width:  95%;
  justify-content: space-between !important;
}
.webPageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.crudBoxcontainer {
  height: 370px;
  margin: 15px;
}
.crudBoxcontainer > div {
  height: 70px;
  width: 100%;
}
.submitButton {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
th {
  font-size: 18px;
}
td {
  height: 20px;
  vertical-align: middle;
}
tr {
  border-bottom: 2px solid #333;
  text-align: center;
}
