*{
      margin: 0;
      padding: 0;

}
input{
      font-size: 20px;
}

::-webkit-scrollbar{
      display: none;
}
.webPageContainer{
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.flex{
      display: flex;
      justify-content: center;
      align-items: center;
}
.crudBoxcontainer{
      height: 370px;
      margin: 15px;
}
.crudBoxcontainer>div{
      height: 70px;
      width: 100%;
}
.submitButton{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
}
th{
      font-size: 18px;
}
td{
      height: 20px;
}
tr{
border-bottom: 2px solid #333;
}
